
<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
    <h1>Pokemon Ability Displayer</h1>
    <form method = "post" action = "/">
        <fieldset>
            <label><strong>Enter Pokemon:</strong> <input type="text" name="name"/></label>
            <input type = "submit" value = "Submit">
         
        </fieldset>
    </form>
    <hr>
    <form method = "get" action = "/search">
            <input type = "submit" value = "View Search History">
         
    </form>
    
</body>
<hr>
<a href = "/">HOME</a>

</html>

