
<!-- DO NOT MODIFY THIS FILE -->

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search History</title>
  <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
    <h1>Search History</h1>
        <%- table %>
        <br>
    
    
</body>
<a href = "/">HOME</a>

</html>

